@import "~bulma";
@import "~bulma-timeline";
@import "mixins";
.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.container {
  padding: 15px;
}

.content {
  display: flex;
  &-avatar {
    width: 40px;
    height: 40px;
    line-height: 0;
    align-self: center;
    margin-right: 15px;
  }
}

#profile-bio {
  margin-top: 10px;
}

.timeline {
  .timeline-item {
    padding-bottom: 1em;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

cite {
  font-style: normal;
}


@include media(medium) {
  .columns {
    display: flex;
  }
}

.profile-container {
  &.column {
    width: 100%;
    @include media(medium) {
      width: 50%;
    }
    @include media(large) {
      width: 30%;
    }
  }
}
.is-validation-error {
  border: 1px solid red;
}
