@import "~bulma";
@import "~bulma-timeline";
.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.content {
  display: flex;
  &-avatar {
    width: 40px;
    height: 40px;
    line-height: 0;
    align-self: center;
    margin-right: 15px;
  }
}

#profile-bio {
  margin-top: 10px;
}

.timeline {
  .timeline-item {
    padding-bottom: 1em;
  }
}