@import "~bulma";
@import "~bulma-timeline";
.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.content {
  display: flex;
  &-avatar {
    width: 40px;
    height: 40px;
    line-height: 0;
    align-self: center;
    margin-right: 15px;
  }
}

#profile-bio {
  margin-top: 10px;
}

.is-validation-error{
  border: 1px solid red;
}

.timeline {
  .timeline-item {
    padding-bottom: 1em;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
cite{
  font-style: normal;
}